@model IEnumerable<Book.Mvc.Entity.Comment>

@{
    ViewBag.Title = "Index";
}



<div class="container pb-5">
    <h6> Yorumlar</h6>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kitap.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yorum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kitap.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yorum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentTime)
                </td>
                <td>

                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "myButtonEdit" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "myButtonDel" })
                </td>
            </tr>
        }

    </table>
    </div>