@model Book.Mvc.Models.DetailModel



@*@using (Html.BeginForm("YorumYap", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)*@


    
<div class="row">
    <div class="col-md-12 yorumyap pt-4 forarea description-box ">
        <h4 class="pb-3 ">Yorum Yap</h4>

        <input type="text" name="Yorum"  id="yorum"/>
        <input type="hidden" name="KitapId" value="@Model.kitaplar.Id" id="kitapId"  />
        <input type="hidden" name="UserName" value="@User.Identity.Name" id="username" />
        <input type="hidden" name="CommentTime" value="@DateTime.Now"   id="datetime"/>
        <input type="hidden" name="Role" value="user" id="role" />
        <input type="submit" value="Yorum Yap" class="myButtonEdit"  id="yorumyap" />
            
    </div>
</div>

<script>
    $(document).ready(function () {
        let _state = false;
        $("#yorumyap").click(function (e) {
            if (_state)
                return;

            _state = true;

            var data = new Object();
            data.Yorum = $('#yorum').val();
            data.UserName = $('#username').val();
            data.CommentTime = $('#datetime').val();
            data.KitapId = $('#kitapId').val();
            data.Role = $('#role').val();

            $('#yorum').val('');

            $.ajax({
                type: "POST",
                url: "@Url.Action("YorumYap","Home")",
                data: data,
                dataType: "text",
                success: function (data) {
                    _state = false;
                    GetComment(data);
                }
            });


        });

    });


</script>